# Это основной блок, который содержит все репозитории с хуками.
repos:
  # === Хуки общего назначения ===
  # Этот репозиторий содержит полезные, но простые хуки, которые
  # работают с разными типами файлов.
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Хук 'trailing-whitespace' удаляет лишние пробелы в конце строк.
      # Мы добавили 'exclude', чтобы он не трогал наш файл заметок,
      # который может содержать пробелы в конце строк.
      - id: trailing-whitespace
        exclude: notes/notes_Docker.py

      # Хук 'end-of-file-fixer' добавляет пустую строку в конце файла.
      # Мы также исключили наш файл заметок, чтобы избежать ошибок.
      - id: end-of-file-fixer
        exclude: notes/notes_Docker.py

      # Хуки для проверки синтаксиса YAML и JSON.
      # Они не требуют исключений, так как файл заметок не является
      # ни YAML, ни JSON.
      - id: check-yaml
      - id: check-json

  # === Хук Black для форматирования кода ===
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      # Black форматирует код Python. Он выдавал ошибку на символы-эмодзи,
      # поэтому мы исключили файл заметок.
      - id: black
        require_serial: true
        exclude: notes/notes_Docker.py

  # === Хук isort для сортировки импортов ===
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      # isort сортирует импорты в Python.
      # Мы исключили файл заметок, так как в нём нет корректных импортов,
      # и он вызывал ошибки.
      - id: isort
        args: [ "--profile", "black" ]
        exclude: notes/notes_Docker.py

  # === Хук Flake8 для проверки стиля кода ===
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      # Flake8 проверяет код на соответствие стандартам PEP 8.
      # Он выдавал синтаксическую ошибку на файл с заметками,
      # поэтому мы его исключили.
      - id: flake8
        args: [--max-line-length=200]
        exclude: notes/notes_Docker.py

  # === Хук pyupgrade для обновления синтаксиса ===
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.11.0
    hooks:
      # pyupgrade автоматически обновляет синтаксис Python до новой версии.
      # Он также выдавал ошибку из-за некорректного синтаксиса в файле
      # заметок, поэтому мы его исключили.
      - id: pyupgrade
        exclude: notes/notes_Docker.py
